[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "vim/pack/vendor/start/delimitMate"]
	path = vim/pack/vendor/start/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "vim/pack/vendor/start/vim-surround"]
	path = vim/pack/vendor/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/pack/vendor/start/vim-markdown"]
	path = vim/pack/vendor/start/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "vim/pack/vendor/start/markdown-preview"]
	path = vim/pack/vendor/start/markdown-preview
	url = https://github.com/iamcco/markdown-preview.nvim.git
[submodule "vim/pack/vendor/start/vim-markdown-toc"]
	path = vim/pack/vendor/start/vim-markdown-toc
	url = https://github.com/mzlogin/vim-markdown-toc.git
[submodule "vim/pack/vendor/start/vim-endwise"]
	path = vim/pack/vendor/start/vim-endwise
	url = git://github.com/tpope/vim-endwise.git
[submodule "vim/pack/vendor/start/vim-airline"]
	path = vim/pack/vendor/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "vim/pack/vendor/start/vim-airline-themes"]
	path = vim/pack/vendor/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "vim/pack/vendor/start/vim-terraform"]
	path = vim/pack/vendor/start/vim-terraform
	url = https://github.com/hashivim/vim-terraform.git
[submodule "vim/pack/vendor/opt/vim-code-dark"]
	path = vim/pack/vendor/opt/vim-code-dark
	url = https://github.com/tomasiser/vim-code-dark.git
	ignore = dirty
