[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "vim/pack/vendor/start/delimitMate"]
	path = vim/pack/vendor/start/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
	ignore = dirty
[submodule "vim/pack/vendor/start/vim-surround"]
	path = vim/pack/vendor/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
	ignore = dirty
[submodule "vim/pack/vendor/start/vim-markdown"]
	path = vim/pack/vendor/start/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
	ignore = dirty
[submodule "vim/pack/vendor/start/markdown-preview"]
	path = vim/pack/vendor/start/markdown-preview
	url = https://github.com/iamcco/markdown-preview.nvim.git
	ignore = dirty
[submodule "vim/pack/vendor/start/vim-markdown-toc"]
	path = vim/pack/vendor/start/vim-markdown-toc
	url = https://github.com/mzlogin/vim-markdown-toc.git
	ignore = dirty
[submodule "vim/pack/vendor/start/vim-endwise"]
	path = vim/pack/vendor/start/vim-endwise
	url = git://github.com/tpope/vim-endwise.git
	ignore = dirty
[submodule "vim/pack/vendor/start/vim-airline"]
	path = vim/pack/vendor/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
	ignore = dirty
[submodule "vim/pack/vendor/start/vim-airline-themes"]
	path = vim/pack/vendor/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
	ignore = dirty
[submodule "vim/pack/vendor/start/vim-terraform"]
	path = vim/pack/vendor/start/vim-terraform
	url = https://github.com/hashivim/vim-terraform.git
	ignore = dirty
[submodule "vim/pack/vendor/start/vim-code-dark"]
	path = vim/pack/vendor/start/vim-code-dark
	url = https://github.com/tomasiser/vim-code-dark.git
	ignore = dirty
[submodule "vim/pack/vendor/start/vim-json"]
	path = vim/pack/vendor/start/vim-json
	url = https://github.com/elzr/vim-json.git
	ignore = dirty
[submodule "vim/pack/vendor/start/ctrlp.vim"]
	path = vim/pack/vendor/start/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
	ignore = dirty
[submodule "vim/pack/vendor/start/vim-fugitive"]
	path = vim/pack/vendor/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
	ignore = dirty
[submodule "vim/pack/vendor/start/vim-virtualenv"]
	path = vim/pack/vendor/start/vim-virtualenv
	url = https://github.com/jmcantrell/vim-virtualenv.git
	ignore = dirty
[submodule "vim/pack/vendor/start/YouCompleteMe"]
	path = vim/pack/vendor/start/YouCompleteMe
	url = https://github.com/ycm-core/YouCompleteMe.git
	ignore = dirty
