[flake8]
max-line-length = 88
select = B,C,E,F,W,T4,B9,B950
# E203: whitespace before ':', conflicts with Black/PEP8
# W503: line break before binary operator, conflicts with Black/PEP8
# E501: line too long. Using flake8-bugbear plugin to enforce
# line length.
# See https://github.com/psf/black/blob/main/docs/the_black_code_style/current_style.md for more details
extend-ignore = E203, W503, E501
