[flake8]
max-line-length = 88
exclude = .venv
# flake8 x black - see https://github.com/psf/black/blob/main/docs/the_black_code_style/current_style.md#flake8
select = C,E,F,W,B,B950
extend-ignore = E203, E501, E704
